# Dependency directories
node_modules/
dist/
.temp/
.cache/

# Local development files
.DS_Store
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
.venv

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# VitePress/Vite-specific
docs/.vitepress/cache/
docs/.vitepress/dist/  # Already handled by gh-pages